body {
    background: linear-gradient(90deg, #3687da, #151e3a);
}
#calculator {
    background-color: white;
}
.product {
    cursor: pointer;
}
.product:hover {
    background-color: orange;
}
@media screen and (max-width: 775px) {
    #step3row1 {
        flex-direction: column;
        width: 250px;
        padding: 20px;
        align-self: center;
    }
    #r1c1 {
        width: 250px;
        padding: 20px;
        align-self: center;
    }
    #r1c1 div{
        align-self: center;
    }
    #r1c3{
        align-self: center;
    }
    h3 {
        align-self: center;
    }
    #r1c2{
        flex-direction: row;
        justify-content: space-around;
    }
    #r1c2 hr{
        height: 1px;
        width: 25%;
    }
}
@media screen and (min-width: 775px) {
    hr {
        height: 100px !important;
        width: 1px !important;
}
}